body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    color: #333;
}

li span.food-name {
    font-weight: bold;
}

li span.price {
    color: #e74c3c;
    font-size: 1.2em;
}

li span.quantity {
    background: #eaeaea;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
}
#content {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

#content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#content button {
    padding: 20px 20px;
    font-size: 16px;
    background-color:  #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#content button:hover {
    background-color: #038e54;
}
